body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}

footer {
    position: relative;
    top: 5vw;
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}

.card {
    position: relative;
    left: 45vw;
    border: 5px solid green;
    border-radius: 10px;
    width: fit-content;
}
